*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px solid purple; */
}

body{
    width: auto;
    height: auto;
}

/* styling the header */

.header{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    align-items: center;
    padding-bottom: 3rem;
}

.header .icon{
    display: flex;
    font-family: Raleway;
    align-items: center;
}

.header .tab ul{
    display: flex;
    font-size: 1.025rem;
    text-align: end;
    gap: 1rem;
}

.header .tab li{
    list-style: none;
    font-family: Outfit;
}
/* styling content*/

.content{
    display: flex;
    justify-content: space-between;
    margin: 2rem ;
    padding-bottom: 5rem;
    overflow: hidden;
    /* margin-bottom: 0; */
}

.content .text{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.content .text h2{
    font-family: Raleway;
    font-size: 2rem;
}

.content .text p{
    font-family: Outfit;
    font-size: 1rem;
}

.content .text .txt-3{
    display: flex;
    margin-right: 1rem;
    gap: 2rem;
}

.content .text .txt-3 input{
    padding: 0.5rem 2rem;
    border: 1px solid none;
    border-radius: 0.2rem;
}

.content .text .txt-3 .button{
    background-color:  hsl(235, 77%, 58%);
    color: white;
    padding: 0.5rem 3rem;
    border-radius: 0.2rem;

}

.content img{
    object-fit: contain;
    width: 350px;
    height: 320px;
}

/* styling main */
.main{
    background-image: url(/image.svg/bg-curve-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: border-box;
    display: flex;
    justify-content: space-between;
    gap: 0.3rem;  
    padding-bottom: 5rem;
}

.main .body{
    margin-left: 2rem;
    margin-top: 8rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main .body h2{
    font-size: 2rem;
    font-family: Raleway;
}

.main .body p {
    font-size: 1.025rem;
    font-family: OUtfit;
}

.main .body a{
    display: flex;
    color:  hsl(170, 45%, 43%);
}

.main .body a img{
    
}

.main .body .box{
    display: flex;
    border: 2px solid none;
    flex-direction: column;
    border-radius: 0.4rem;
    box-shadow: 2px 3px 10px 1px gray ;
    width: 70%;
    background-color: white;
}

.main .body .box .tab{
    margin: 1rem 2rem;
    font-family: Outfit;
}

.main .body .box .img{
    display: flex;
    margin: 0rem 2rem;
    margin-bottom: 2rem;
    gap: 1rem;
}

.main .body .box .img h4{
    font-family: Raleway;
}

.main .body .box .img p{
    font-family: Outfit;
}

.main .body .box .img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}



.main img{
    object-fit: contain;
    margin-right: 2rem;
    margin-bottom: 2rem;
    margin-top: 8rem;
    width: 350px;
    height: 500px;
}

/* styling sign-up */

.sub{
    background-color: hsla(239, 28%, 59%, 0.914);
    display: flex;
    padding: 5rem 2rem;
    justify-content: space-between;
}

.sub .body{
    display: flex;
    color: white;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    width: 50%;
}

.sub .body h2{
    font-size: 1.5rem;
    font-family: Raleway;
    
}

.sub .body p{
    font-size: 1.025rem;
    font-family: Outfit;
}

.sub .label{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* width: 50%; */
}

.sub .label input{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 10rem;
    padding-left: 1rem;
}

.sub .label .button{
    background-color: hsla(224, 74%, 59%, 0.655);
    color: white;
    font-size: 0.7rem;
    padding: 1rem 2rem;
    width: 60%;
    font-family: Raleway;
}

/* styling the footer */
.footer{
    display: flex;
    flex-direction: column;
    background-color: hsl(243, 87%, 12%);
    padding: 5rem 0rem;
    color: white;
    gap: 1rem;
}

.footer svg{
    margin-left: 2rem;
    
}

.footer .tab{
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
    opacity: 0.8;
}

.footer .tab .nav{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-family: Outfit;
}

.footer .tab .nav .src img{
    margin-right: 0.7rem;
}

.footer .tab .nav-4{
    display: flex;
    gap: 0.5rem;
}


/* Media Query*/

@media screen and (max-width: 700px) {

    body{
        width: auto;
        overflow-x: hidden;
    }

    .header{
        display: flex;
        justify-content: space-between;
    }

    .content{
        display: flex;
        flex-direction: column-reverse;
        gap: 4rem;
    }

    .content img{
        width: 500px;
    }

    .content .text h2, p{
        /* text-align: center; */
    }

    .content .text .txt-3{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .content .text .txt-3 input{
        padding: 1rem 0;
        border: 2px solid gray;
    }

    .content .text .txt-3 .button{
        padding: 1rem 0;
        border: none;
        background-color: hsl(235, 68%, 54%);
    }

    .main{
        display: flex;
        flex-direction: column-reverse;
        
    }

    .main img{
        margin-top: 0;
        width: auto;
    }

    .main .body{
        margin-top: 6rem;
        width: auto;
    }

    .main .body h2, p{
        /* text-align: center; */
    }

    .main .body a{
        justify-content: center;
    }

    .main .body .box{
        display: flex;
        /* justify-content: center; */
        position: relative;
        left: 15%;
        margin-bottom: 2rem;

    }

    .sub{
        display: flex;
        flex-direction: column;
    }

    .sub .body{
        width: auto;
        margin-top: 0;
    }

    .sub .body h2{
        text-align: center;
    }

    .sub .label input{
        padding: 1rem, 0;
    }

    .sub .label .button{
        width: 100%;
        gap: 0.5rem;
        padding: 1rem 0;
        border: none;
        margin-bottom: 0;
    }

    .footer .tab{
        gap: 5rem;
        width: 100%;
        margin-top: 0;
        flex-direction: column;
        align-items: start;
        margin-top: 2rem;
    } 
}

